<h1>Fill out my form :) !!!</h1>

<%=form_tag do %>
</br>
<%=label_tag(:body, "Please enter your log in details:")%> </br></br>
	<%=label_tag(:body, "Username:")%> 
	<%=text_field_tag(:body)%> </br>
	<%=label_tag(:body, "Password:")%>
	<%=text_field_tag(:body)%> </br></br>
	<%=submit_tag("Submit")%> 

	<%end%>