</br></br>
<p><b>Menu :) </b></p></br>
<p>Are you a Vegetarian? </p>

<p><%=radio_button_tag(:veg,"Vegetarian")%> YES</p>
<p><%=radio_button_tag(:nonveg,"Non-Vegetarian")%> NO</p>
</br>
<p>What are your favourite sports? (Please choose more than 1) </p>
<p><%=check_box_tag(:sport)%> Soccer</p>
<p><%=check_box_tag(:sport)%> Hurling</p>
<p><%=check_box_tag(:sport)%> Rugby</p>
<p><%=check_box_tag(:sport)%> Gaelic Football</p>
<p><%=check_box_tag(:sport)%> Cricket</p>
</br>
<%=submit_tag("Submit")%> 